* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

body{
    background-image: url(/img/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.contenedor-principal{
    width: 80vw;
    min-height: 70vh;
    background-color:rgb(0, 0, 0, 0.8);
    border-radius: 30px;
    text-align: center;
    margin: 15vh auto 15vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorCat{
    margin-bottom: 5vh;
}
    .opcionesCat{
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .opcionesCat img {
            padding: 0 3vw;
        }


    .producto{
        text-align: center;
        display: inline-block;
    }
        .card{
            border: 1px solid #fff ;
            border-radius: 10px;
            height: 40vh;
            width: 15vw;
            text-align: center;
            background-color: rgb(0, 0, 0, 0.8);
            margin: 20px;
            padding-top: 15px;
        }
        .card img{
            border-radius: 5px;
            padding-bottom: 10px;
        }
        .card h4{
            font-size: 1.5em;
            color: #fff;
            padding-bottom: 10px;
        }
        .card p{
            color: #fff;
            padding-bottom: 10px;
        }
        .card a{
            color: #fff;
            text-decoration: none;
            border: 1px solid white;
            border-radius: 5px;
            padding: 7px 15px;
        }
        .card a:hover {
            background: #868686;
        }


.modalCarrito{
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 30px;
    color: #fff;
    width: 80vw;
    margin: 0 auto 10vh auto;
    text-align: center;
}
    .modalCarrito h3{
        padding-top: 5vh;
        font-size: 1.5rem;
    }
    .contenedorCarrito{
        padding: 5vh 0;
    }

    .carrito{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 10px;
    }
    .modalCarrito .precioFinal{
        padding-bottom: 5vh;
    }
button{
    background: transparent;
    color: #fff;
    border: 1px solid rgb(134, 134, 134);;
    border-radius: 5px;
    padding: 5px;
}
button:hover{
    background: rgb(134, 134, 134);
    cursor: pointer;
}



